@charset "ISO-8859-1";

@font-face {
	font-family: Alternate-Gothic-No2-D;
	src: url(../fonts/Alternate Gothic No2 D Regular.ttf);
}

@font-face {
	font-family: Quicksand-Bold;
	src: url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Regular.ttf);
}

h1,h2,h3,h4,p,ul,body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	font-family: Quicksand-Bold;
}

p {
	font-family: Quicksand;
}

a, a:hover, a:focus {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* BASE
   ========================================================================= */
html {
	width: 100%;
	overflow-x: hidden;
	font-size: 20px;
	position: relative;
	font-family: Quicksand;
}

h1 {
	text-align: center;
	font-size: 25px;
	margin-bottom: 25px;
}

h4 {
	margin: 5px 0;
}

p, span, a {
	font-size: 13px;
}

.fa {
	color: black;
	font-size: 1.8rem;
	cursor: pointer;
}

/* Quitamos el borde azul al hacer select en los enlaces */
a:-webkit-any-link:focus {
	outline-offset: 0px;
}

.texto_centrado {
	text-align: center;
}

.contenedor_flex {
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex {
	flex: 1 1 auto;
}

a.amarillo1 {
	color: #f7c300;
}

a.amarillo1:hover {
	color: #f2e4c2;
}

/* HEADER
   ========================================================================= */

/* CABECERA CON MENU DE NAVEGACION */
header {
	display: block;
}

nav.menuNavIndex {
	background-image: url("../img/foto_ejemplo1.jpg");
	height: 500px; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	/* Resize the background image to cover the entire container */
}

nav .fa {
	padding: 25px;
}

/* Hacemos flexible la lista del nav. */
nav>ul {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}

nav>#lista_principal_index {
	width: 100%;
	z-index: 99;
	font-size: 11px;
}

.elementos_menu {
	padding: 40px 25px;
	font-size: 20px;
	display: none;
}

.elementos_menu_moviles a:hover {
	color: #f4cf58;
}

nav>ul>li {
	padding: 1.5px;
	padding-top: 2px;
}

nav>ul>li>a {
	color: black;
}

nav>ul>li>a:hover,nav>ul>li>a:hover>.fa {
	color: #f4cf58;
}

/* Inicio ocupara todo el espacio sobrante */
.inicio_logo {
	flex: 1 1 auto;
	padding-left: 0;
}

.inicio_logo img {
	height: 120px;
	margin-top: -20px;
}

/*.inicio_logo img:hover {
	height: 140px;
	transition: height 0.5s;
	opacity: 2;
}*/

/* Mostramos el menu para dispositivos moviles*/
nav>ul>li#menu_moviles {
	display: inline;
}

/* Lista del menu para dispositivos moviles, la ocultamos y luego la mostraremos con Jquery */
nav>ul>li>ul#lista_movil {
	z-index: 9999;
	background-color: white;
	right: 0;
	padding: 5px 10px 5px 10px;
	color: black;
	display: none;
	position: absolute;
	border-radius: 5px;
	background: rgba(226, 226, 226, 1);
	background: -moz-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76% );
	background: -webkit-gradient(bottom top, up top, color-stop(0%, rgba(226, 226, 226,
		1) ), color-stop(0%, rgba(209, 209, 209, 1) ),
		color-stop(14%, rgba(219, 219, 219, 1) ),
		color-stop(58%, rgba(244, 244, 244, 1) ),
		color-stop(76%, rgba(254, 254, 254, 1) ) );
	background: -webkit-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76% );
	background: -o-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76% );
	background: -ms-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76% );
	background: linear-gradient(to up, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76% );
	filter: progid :           DXImageTransform.Microsoft.gradient (     
		     startColorstr =           '#e2e2e2', endColorstr =          
		'#fefefe', GradientType =           1 );
}

nav>ul>li>ul#lista_movil a {
	color: black;
	font-size: 17px;
}

nav>ul>li>ul#lista_movil a:hover {
	color: black;
	font-family: Quicksand-Bold;
}

nav>ul>li>ul#lista_movil li {
	padding: 5px;
}

/* CONTENEDOR TEXTO
========================================================================= */
.contenedor_texto {
	width: 80%;
	margin: 30px auto 0;
	text-align: justify;
}

ul.lista_texto {
	list-style: circle;
	padding-left: 25px;
}

.contenedor_texto img {
	width: 100%;
}

.contenedor_texto .texto p {
	padding-bottom: 25px;
}

.enmarcado {
	background-color: #f2e4c2;
	padding: 20px;
	border-radius: 5px;
}

/*.secundario {
	margin-top: 350px;
}*/

/* Botón */
a.boton {
    padding: 15px;
    margin: 0;
}

.boton {
    height: 50px;
    cursor: pointer;
    padding: 0 15px;
    vertical-align: middle;
    background: #f7c300;
    border: 0;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    border-radius: 4px;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.boton:hover {
	color: black;
	background: #f2e4c2;
}

.bloque {
	background: #f7c300;
	color: white;
	margin: 10px 20px;	
	padding: 20px;
	width: 90%;
	max-width: 200px;
	border-radius: 4px;
}

.bloque {
	cursor: pointer;
}

.bloque:hover {
	color: black;
	background: #f2e4c2;
}

.bloque h3 {
	text-align: center;
	margin-bottom: 5px;
}

.bloque p {
	padding-bottom: 0;
	padding-top: 5px;
}

/* FOOTER
========================================================================= */
footer {
	background-color: #000000;
	font-size: 15px;
	padding-top: 15px;
	color: white;
	bottom: 0;
	width: 100%;
	margin-top: 50px;
}

footer h3 {
	color: #f4cf58;
}

.footerPrincipal {
	padding: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-flow: row wrap;
}

img.logo {
	height: 60px;
	text-align: left;
	margin-top: -25px;
	margin-left: -20px;
}

.logo_footer,.redes {
	width: 33%;
	display: inline-block;
}

.informacion ul,.informacion h3 {
	text-align: center;
	display: none;
}

.redes {
	text-align: right;
}

footer a {
	text-decoration: none;
	color: white;
}

footer .fa {
	font-size: 23px;
	color: white;
	padding: 0 0 0 9px;
}

footer .fa:hover,a:hover {
	color: #f4cf58;
}

.espacio {
	margin-top: 10px;
}

.oculto_movil {
	display: none;
}

.oculto_movil_footer {
	display: none;
}

.redes a {
	color: white;
}

footer h3 {
	margin-bottom: 10px;
}

.avisoLegal_movil {
	text-align: center;
	padding: 10px;
}

/*RESPONSIVE
========================================================================= */

/* Para resoluciones a partir de 500px */
@media only screen and (min-width: 500px) {
}

/* Para resoluciones a partir de 650px */
@media only screen and (min-width: 650px) {
}

/* Para resoluciones a partir de 700px */
@media only screen and (min-width: 700px) {
}

/* Para resoluciones a partir de 800px */
@media only screen and (min-width: 800px) {
	img.logo {
		height: 80px;
	}
	p, span, a {
		font-size: 17px;
	}
	.bloque {
		margin: 10px 20px;	
		max-width: 300px;
	}
}

/* Para resoluciones a partir de 1000px */
@media only screen and (min-width: 1000px) {
	img.logo {
		height: 100px;
	}
	.contenedor_texto {
		width: 70%;
		margin: 40px auto 0;
	}
	.enmarcado {
		padding: 20px;
	}
}

/* Para resoluciones a partir de 1250px */
@media only screen and (min-width: 1250px) {
	nav>ul>li#menu_moviles {
		display: none;
	}
	.elementos_menu {
		display: block;
	}
	.informacion ul,.informacion h3 {
		display: block;
	}
	.avisoLegal_movil {
		display: none;
	}
	img.logo {
		height: 120px;
	}
}

/* Para resoluciones a partir de 1400px */
@media only screen and (min-width: 1400px) {
	.contenedor_texto {
		width: 60%;
		margin: 45px auto 0;
	}
	.enmarcado {
		padding: 30px;
	}
	p, span, a {
		font-size: 18px;
	}
}

/* Para resoluciones a partir de 1600px */
@media only screen and (min-width: 1600px) {
}