@charset "ISO-8859-1";

@font-face {
	font-family: Alternate-Gothic-No2-D;
	src: url(../fonts/Alternate Gothic No2 D Regular.ttf);
}

@font-face {
	font-family: Quicksand-Bold;
	src: url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
	font-family: WaitingfortheSunrise-Regular;
	src: url(../fonts/WaitingfortheSunrise-Regular.ttf);
}

h1,h2,h3,h4,p,ul,body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	font-family: Quicksand-Bold;
}

p {
	font-family: Quicksand;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

/* BASE
   ========================================================================= */
html {
	width: 100%;
	position: relative;
	font-family: Quicksand;
}

h1 {
	text-align: center;
	font-size: 25px;
	margin-bottom: 25px;
}

h4 {
	margin: 5px 0;
}

p, span, a {
	font-size: 13px;
}

.fa {
	color: black;
	font-size: 1.8rem;
	cursor: pointer;
}

/* Quitamos el borde azul al hacer select en los enlaces */
a:-webkit-any-link:focus {
	outline-offset: 0px;
}

.texto_centrado {
	text-align: center;
}

.contenedor_flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex {
	flex: 1 1 auto;
}

.imagen_flex {
	width: 45%;
	min-width: 300px;
	-webkit-transform:scale(1);
	transform: scale(1);
	transition: all .5s ease-in-out;
}

.imagen_flex:hover {
	-webkit-transform:scale(1.2);
	transform: scale(1.2);
	transition: all .5s ease-in-out;
}

.texto_flex {
	padding-top: 15px;
	width: 45%;
	min-width: 200px;
}

a.amarillo1 {
	color: #f7c300;
}

a.amarillo1:hover {
	color: #f2e4c2;
}

.izquierda {
	float: left;
}

.derecha {
	float: right;
}

.fixed {
	position: fixed;
	bottom: 0;
}

.azul {
	background-color: #58DEEB;
}

.rosa {
	background-color: #FF4297;
}

.amarillo {
	background-color: #f7c300;
}

.letra_indie {
	font-family: 'WaitingfortheSunrise-Regular', cursive;
	font-size: 22px;
}

/* HEADER
   ========================================================================= */

/* CABECERA CON MENU DE NAVEGACION */
header {
	display: block;
}

nav.menuNavGrande {
	height: 500px; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	/* Resize the background image to cover the entire container */
}
	
nav.fluidea {
	background-image: url("../img/inicio/1._pagina_inicio.png");
}

nav.contacto {
	background-image: url("../img/contacto/pagina_contacto.png");
}

nav.detras {
	background-image: url("../img/sobre mi/1_principal_pagina_sobre_mi.png");
}

nav.servicios {
	background-image: url("../img/servicios/1._pagina_servicios.jpg");
}

nav .fa {
	padding: 28px;
}

nav .fa:hover {
	color: white;
}

/* Hacemos flexible la lista del nav. */
nav>ul {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}

nav>#lista_principal_index {
	width: 100%;
	z-index: 99;
	font-size: 11px;
}

.elementos_menu {
	padding: 40px 25px;
	font-size: 20px;
	display: none;
	background-color: #f7c300;
}

.menu_inicio {
	border-radius: 10px 0 0 10px;
}

.elementos_menu_moviles a:hover {
	color: #f4cf58;
}

nav>ul>li>a {
	color: black;
}

nav>ul>li>a:hover,nav>ul>li>a:hover>.fa {
	color: white;
}

/* Inicio ocupara todo el espacio sobrante */
.inicio_logo {
	flex: 1 1 auto;
	padding-left: 0;
}

.inicio_logo img {
	height: 100px;
	margin-top: -20px;
}

/*.inicio_logo img:hover {
	height: 140px;
	transition: height 0.5s;
	opacity: 2;
}*/

/* Mostramos el menu para dispositivos moviles*/
nav>ul>li#menu_moviles {
	display: inline;
	background-color: #f7c300;
	border-radius: 10px 0 0 10px;
}

/* Lista del menu para dispositivos moviles, la ocultamos y luego la mostraremos con Jquery */
nav>ul>li>ul#lista_movil {
	z-index: 9999;
	background-color: #f7c300;
	right: 0;
	padding: 5px 10px 5px 10px;
	color: black;
	display: none;
	position: absolute;
	border-radius: 10px 0 0 10px;
	/*background: white;
	background: -moz-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76% );
	background: -webkit-gradient(bottom top, up top, color-stop(0%, rgba(226, 226, 226,
		1) ), color-stop(0%, rgba(209, 209, 209, 1) ),
		color-stop(14%, rgba(219, 219, 219, 1) ),
		color-stop(58%, rgba(244, 244, 244, 1) ),
		color-stop(76%, rgba(254, 254, 254, 1) ) );
	background: -webkit-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76% );
	background: -o-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76% );
	background: -ms-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76% );
	background: linear-gradient(to up, rgba(226, 226, 226, 1) 0%,
		rgba(209, 209, 209, 1) 0%, rgba(219, 219, 219, 1) 14%,
		rgba(244, 244, 244, 1) 58%, rgba(254, 254, 254, 1) 76% );
	filter: progid :           DXImageTransform.Microsoft.gradient (     
		     startColorstr =           '#e2e2e2', endColorstr =          
		'#fefefe', GradientType =           1 );*/
}

nav>ul>li>ul#lista_movil a {
	color: black;
	font-size: 17px;
}

nav>ul>li>ul#lista_movil a:hover {
	color: white;
	font-family: Quicksand-Bold;
}

nav>ul>li>ul#lista_movil li {
	padding: 5px;
}

/* CONTENEDOR TEXTO
========================================================================= */
.contenedor_texto {
	width: 85%;
	margin: 30px auto 0;
	text-align: justify;
}

.contenedor_texto iframe {
	width: 100%;
	height: 350px;
}

.contenedor_superior {
	padding: 20px;
	border-radius: 10px;
	margin-top: -170px;
	transition: all .5s ease-in-out;
	opacity: 0.9;
}

.contenedor_superior_inicio {
	padding: 20px 20px 5px 20px;
	border-radius: 10px;
	margin-top: -110px;
	transition: all .5s ease-in-out;
	opacity: 0.9;
}

.contenedor_superior:hover, .contenedor_superior_inicio:hover {
	transition: all .5s ease-in-out;
	opacity: 1;
}

ul.lista_amarilla, ul.lista_negra, ul.lista_puntos, ul.lista_rosa {
	padding-left: 25px;
}

ul.lista_amarilla li, ul.lista_negra li, ul.lista_puntos li, ul.lista_rosa li {
	list-style: none;
}

ul.lista_amarilla li::before, ul.lista_negra li::before, ul.lista_puntos li::before, ul.lista_rosa li::before {
	content: '';
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: -30px;
	float: left;
}

ul.lista_amarilla li::before {
	background-image: url("../img/recursos graficos/Borrón amarillo fondo transparente.png");
}

ul.lista_negra li::before {
	opacity: 0.6;
	background-image: url("../img/recursos graficos/Borrón negro fondo transparente.png");
}

ul.lista_puntos li::before {
	background-image: url("../img/recursos graficos/puntos negro fondo transparente.png");
}

ul.lista_rosa li::before {
	background-image: url("../img/recursos graficos/Borrón rosa fondo transparente.png");
}

ul.lista_numerica {
	list-style: decimal;
	padding-left: 25px;
}

ul.lista_secundaria {
	list-style: disc;
}

.recurso_borron_amarillo {
	background-image: url("../img/recursos graficos/Borrón amarillo fondo transparente.png");
	background-position-x: 10px;
	background-position-y: 220px;
	background-repeat: no-repeat;
	background-size: 100px;
}

.recurso_puntos_negros {
	background-image: url("../img/recursos graficos/puntos negro fondo transparente.png");
	background-position: right;
	background-position-y: 0;
	background-repeat: no-repeat;
	background-size: 80px;
}

.contenedor_texto img {
	width: 100%;
	margin-bottom: 35px;
}

.contenedor_texto img.pequeno {
	width: 50%;
	display:block;
	margin:auto;
}

.contenedor_texto img.mediano {
	width: 80%;
	display:block;
	margin:auto;
}

.contenedor_texto img.marcaRegistrada {
	height: 100px;
	width: auto;
	display: block;
	margin: auto;
}

.contenedor_texto .texto p {
	padding-bottom: 15px;
}

.enmarcado {
	padding: 20px;
	border-radius: 10px;
}

/*.secundario {
	margin-top: 350px;
}*/

/* Botón */
.contenedor_boton {
	margin-top: 15px;
}

a.boton {
    padding: 15px;
    margin: 0;
}

.boton {
    height: 50px;
    cursor: pointer;
    padding: 0 15px;
    margin-top: 15px;
    vertical-align: middle;
    background: #58DEEB;
    border: 0;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    border-radius: 10px;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.boton:hover {
	transition: all .5s ease-in-out;
	filter: grayscale(80%);
	color: white;
}

.bloque {
	color: white;
	margin: 10px 20px;	
	padding: 20px;
	border-radius: 10px;
	cursor: pointer;
	max-width: 250px;
	-webkit-transform:scale(1);
	transform: scale(1);
	transition: all .5s ease-in-out;
}

.bloque:hover {
	-webkit-transform:scale(1.2);
	transform: scale(1.2);
	transition: all .5s ease-in-out;
}

.bloque h3 {
	text-align: center;
	margin-bottom: 5px;
}

.bloque p {
	padding-bottom: 0;
	padding-top: 5px;
}

.contenedor_texto .separacion {
	margin-bottom: 25px;
}

/* FORMULARIO
========================================================================= */
.formulario {
	width: 100%;
	margin: 0 auto;
}

::-webkit-input-placeholder {
	font-family: Quicksand;
}

::-moz-placeholder {
	font-family: Quicksand;
}

:-ms-input-placeholder {
	font-family: Quicksand;
}

.consulta {
	margin: 0 auto;
}

textarea {
	width: 96%;
	border: 2px solid grey;
	font-family: Quicksand;
	border-radius: 5px;
	padding: 5px;
}

input {
	width: 45%;
	height: 30px;
	margin-bottom: 10px;
	border: 2px solid grey;
	border-radius: 5px;
}

input.condiciones {
	margin: 10px 10px 10px 0;
	height: 15px;
	width: 15px;
}

/* FOOTER
========================================================================= */
footer {
	background-color: #000000;
	font-size: 15px;
	padding-top: 15px;
	color: white;
	bottom: 0;
	width: 100%;
	margin-top: 50px;
}

footer h3 {
	color: #f4cf58;
}

.footerPrincipal {
	padding: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-flow: row wrap;
}

img.logo {
	height: 60px;
	text-align: left;
	margin-top: -25px;
	margin-left: -20px;
}

.logo_footer,.redes {
	width: 33%;
	display: inline-block;
}

.informacion ul,.informacion h3 {
	text-align: center;
	display: none;
}

.redes {
	text-align: right;
}

footer a {
	text-decoration: none;
	color: white;
}

footer .fa {
	font-size: 23px;
	color: white;
	padding: 0 0 0 9px;
}

footer .fa:hover, footer a:hover {
	color: #f4cf58;
}

.espacio {
	margin-top: 10px;
}

.oculto_movil {
	display: none;
}

.oculto_movil_footer {
	display: none;
}

.redes a {
	color: white;
}

footer h3 {
	margin-bottom: 10px;
}

.avisoLegal_movil {
	text-align: center;
	padding: 10px;
}

/*RESPONSIVE
========================================================================= */

/* Para resoluciones a partir de 500px */
@media only screen and (min-width: 500px) {
	textarea {
		width: 97%;
	}
}

/* Para resoluciones a partir de 650px */
@media only screen and (min-width: 650px) {
	textarea {
		width: 98%;
	}
}

/* Para resoluciones a partir de 700px */
@media only screen and (min-width: 700px) {
	textarea {
		width: 98.5%;
	}
}

/* Para resoluciones a partir de 800px */
@media only screen and (min-width: 800px) {
	nav.menuNavGrande {
		height: 800px;
	}
	img.logo {
		height: 80px;
	}
	p, span, a {
		font-size: 17px;
	}
	.letra_indie {
		font-size: 30px;
	}
}

/* Para resoluciones a partir de 1000px */
@media only screen and (min-width: 1000px) {
	textarea {
		width: 99%;
	}
	input {
		width: 47%;
	}
	img.logo {
		height: 100px;
	}
	.contenedor_texto {
		width: 70%;
		margin-top: 60px;
	}
	.contenedor_superior {
		margin-top: -190px;
		
	}
	.contenedor_superior_inicio {
		margin-top: -140px;
	}
	.enmarcado {
		padding: 20px;
	}
}

/* Para resoluciones a partir de 1250px */
@media only screen and (min-width: 1250px) {
	input {
		width: 48%;
	}
	nav>ul>li#menu_moviles {
		display: none;
	}
	.elementos_menu {
		display: block;
	}
	.informacion ul,.informacion h3 {
		display: block;
	}
	.avisoLegal_movil {
		display: none;
	}
	img.logo {
		height: 120px;
	}
	nav.menuNavGrande {
		height: 900px;
	}
}

/* Para resoluciones a partir de 1400px */
@media only screen and (min-width: 1400px) {
	.contenedor_texto {
		width: 60%;
		margin: 45px auto 0;
	}
	.contenedor_superior {
		margin-top: -200px;
	}
	.contenedor_superior_inicio {
		margin-top: -150px;
	}
	.enmarcado {
		padding: 30px;
	}
	p, span, a {
		font-size: 18px;
	}
	.letra_indie {
		font-size: 32px;
	}
	nav.menuNavIndex {
		height: 900px; /* You must set a specified height */
	}
	nav.menuNavGrande {
		height: 1000px;
	}
}

/* Para resoluciones a partir de 1600px */
@media only screen and (min-width: 1600px) {
	nav.menuNavGrande {
		height: 1100px;
	}
}